:root {
  /* Primary Color */
  --Green: hsl(75, 94%, 57%);

  /* Neutral Color */
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: inter;
  background-color: var(--Off-Black);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: var(--Dark-Grey);
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 1rem 0;
}

.card-container .profile-image {
  display: flex;
  justify-content: center;
}

.card-container .profile-image img {
  border-radius: 50%;
  width: 75%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info h2 {
  margin-top: 1.5rem;
  color: var(--White);
}

.user-info .location {
  color: var(--Green);
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 10px;
}

.user-info .bio {
  margin: 1.5rem 0;
  color: var(--White);
  font-weight: 200;
  font-size: 0.8rem;
}

.social-media {
  width: inherit;
}

.social-media ul {
  list-style: none;
  color: var(--White);
  margin: 0 2rem;
  margin-bottom: 1rem;
}

.social-media ul li {
  width: 100%;
  text-align: center;
  margin: 1.2rem 0;
  background-color: var(--Off-Black);
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: 500;
}

.social-media ul li:hover {
  color: var(--Off-Black);
  background-color: var(--Green);
  cursor: pointer;
}
